{% extends "layoutAdmin.html.twig" %}

{% block content %}
<div class="cards">
    <div class="row">
        <div class="col s12">
            <div class="card white w-full">
                <div class="card-content">
                    <div class="editroom">
                        <div class="editroom_icon">
                            <a href="/admin/chambres"><svg role="img" xmlns="http://www.w3.org/2000/svg" width="32px"
                                    height="32px" viewBox="0 0 24 24" aria-labelledby="exitIconTitle exitIconDesc"
                                    stroke="#00d1b2" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter"
                                    fill="none" color="#00d1b2">
                                    <title id="exitIconTitle">Exit</title>
                                    <desc id="exitIconDesc">Icon of doors with an arrow pointing outside of them</desc>
                                    <path d="M18 15l3-3-3-3" />
                                    <path d="M11.5 12H20" />
                                    <path stroke-linecap="round" d="M21 12h-1" />
                                    <path d="M15 4v16H4V4z" />
                                </svg></a>
                        </div>
                        <form action="/admin/updateRoom/{{ rooms.id }}" method="post">
                            <div class="flex_edit_room">
                                <div class="editroom_left">
                                    <input type="hidden" value="{{ rooms.id }}" name="id">

                                    <!-- a demasquer-->
                                    <input class="validate" id="image" name="pic_path" type="hidden" value="{{ rooms.pic_path }}" >

                                    <div class="showBooking_entete">Infos</div>
                                    <div><p>Nom de la chambre</p></div>
                                    <div><p>Location</p></div>
                                    <div><p>Description</p></div>
                                    <div><p>Options</p></div>
                                    <div><p>Prix</p></div>
                                </div>
                                <div class="editroom_right">
                                    <div class="showBooking_entete">Données</div>
                                    <p>{{ error.name }}</p>
                                    <div><input class="validate" id="name" name="name" type="text" value="{{ rooms.name }}"></div>
                                    <p>{{ error.location }}</p>
                                    <div><input class="validate" id="location" name="location" type="text" value="{{ rooms.location }}" ></div>
                                    <p>{{ error.description }}</p>
                                    <div><input class="validate" id="description" name="description" type="text" value="{{ rooms.description }}"></div>
                                    <p>{{ error.caracs }}</p>
                                    <div><input class="validate" id="caracs" name="caracs" type="text" value="{{ rooms.caracs }}"></div>
                                    <p>{{ error.price }}</p>
                                    <div><input class="validate" id="price" name="price" type="text" value="{{ rooms.price }}" ></div>
                                </div>
                            </div>
                            <div class="edit_room_button">
                                <button value="submit" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# <section class="section container">
        <div class="row">
            <form action="/admin/updateRoom/{{ rooms.id }}" class="col s12" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="hidden" value="{{ rooms.id }}" name="id">
                        {{ error.name }}
                        <input class="validate" id="name" name="name" type="text" value="{{ rooms.name }}" >
                    </div>
                    <div class="input-field col s6">
                        {{ error.description }}
                        <input class="validate" id="description" name="description" type="text" value="{{ rooms.description }}">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ error.pic_path }}
                        <input class="validate" id="image" name="pic_path" type="text" value="{{ rooms.pic_path }}" >
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ error.location }}
                        <input class="validate" id="location" name="location" type="text" value="{{ rooms.location }}" >
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ error.caracs }}
                        <input class="validate" id="caracs" name="caracs" type="text" value="{{ rooms.caracs }}">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ error.price }}
                        <input class="validate" id="price" name="price" type="text" value="{{ rooms.price }}" >
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Submit
                </button>
            </form>
        </div>
    </section> #}
{% endblock %}
{% block javascript %}{% endblock %}
