{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link href="/assets/css/myAccount.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
<h3 class="page-title">Bonjour {{session.username}} !</h3>
    <div class="cards">
        <div class="row">
            <div class="col s12">
                <div class="card white w-full">
                    <div class="card-content">
                            <h4 class="booking-title">Informations sur la prochaine réservation</h4>
                            <hr/>
                            <p>Chambre : {{ bookings[0].name }}</p>
                            <p>Date d'arrivée : {{ bookings[0].begin_date }}</p>
                            <p>Date de départ : {{ bookings[0].end_date }}</p>
                            <p>Nombre de personnes : {{ bookings[0].nb_person }}</p>
                            <p>Options : {{ bookings[0].options }}</p>
                            <p>Facturation : {{ bookings[0].total_price }}€</p>
                            <a href="#" class="waves-effect waves-light btn">Annuler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><h4 class="booking-title">Autres réservations</h4></div>
        <div class="collapsible-body">
{% for booking in bookings %}
            <h4 class="booking-title">Inforamtions réservation chambre {{ booking.name }}</h4>
            <hr class="hr-title"/>
            <p>Chambre : {{ booking.name }}</p>
            <p>Date d'arrivée : {{ booking.begin_date }}</p>
            <p>Date de départ : {{ booking.end_date }}</p>
            <p>Nombre de personnes : {{ booking.nb_person }}</p>
            <p>Options : {{ booking.options }}</p>
            <p>Facturation : {{ booking.total_price }}€</p>
            <a href="#" class="waves-effect waves-light btn">Annuler</a>
            <br/>
            <br/>
{% endfor %}
        </div>
    </li>
</ul>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
$('.collapsible').collapsible();
});
</script>
{% endblock %}